<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzq.online_exam.dao.ExamPaperInfoMapper">

    <!--获取试卷的总数量-->
    <select id="getExamPaperTotal" resultType="int">
		SELECT COUNT(examPaperId) FROM exampaperinfo;
	</select>
    <select id="getExamPaperByName" resultType="com.xzq.online_exam.domain.ExamPaperInfo">
        select * from exampaperinfo where examPaperName=#{name}
    </select>

    <select id="getAllExamPaper" resultType="com.xzq.online_exam.domain.ExamPaperInfo">
        select * from exampaperinfo;
    </select>
</mapper>