<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzq.online_exam.dao.ExamSubjectMiddleInfoMapper">
    <resultMap id="queryExamSubjectMiddle" type="com.xzq.online_exam.domain.ExamSubjectMiddleInfo">
        <id column="esmId" property="esmId"/>
        <!-- 试卷 -->
        <association property="examPaper" javaType="com.xzq.online_exam.domain.ExamPaperInfo">
            <id column="examPaperId" property="examPaperId"/>
            <result column="examPaperName" property="examPaperName"/>
            <result column="examPaperTime" property="examPaperTime"/>
        </association>
        <!-- 试题 -->
        <association property="subject" javaType="com.xzq.online_exam.domain.SubjectInfo">
            <id column="subjectId" property="subjectId"/>
            <result column="subjectName" property="subjectName"/>
            <result column="optionA" property="optionA"/>
            <result column="optionB" property="optionB"/>
            <result column="optionC" property="optionC"/>
            <result column="optionD" property="optionD"/>
            <result column="rightResult" property="rightResult"/>
            <result column="subjectScore" property="subjectScore"/>
            <result column="subjectType" property="subjectType"/>
            <result column="subjectEasy" property="subjectEasy"/>
            <result column="division" property="division"/>
            <!-- 科目 -->
            <association property="course" javaType="com.xzq.online_exam.domain.CourseInfo">
                <id column="courseId" property="courseId"/>
                <result column="courseName" property="courseName"/>
            </association>
            <!-- 年级 -->
            <association property="grade" javaType="com.xzq.online_exam.domain.GradeInfo">
                <id column="gradeId" property="gradeId"/>
                <result column="gradeName" property="gradeName"/>
            </association>
        </association>
    </resultMap>

    <select id="getAllESMByExamPaperId" parameterType="int" resultMap="queryExamSubjectMiddle">
        SELECT a.esmId, a.exampaperId, b.examPaperName, b.examPaperTime, c.*, d.courseName, e.gradeName
		FROM examsubjectmiddleinfo a
		INNER JOIN exampaperinfo b ON a.examPaperId=b.examPaperId
		INNER JOIN subjectinfo c ON a.subjectId=c.subjectId
		INNER JOIN courseinfo d ON c.courseId=d.courseId
		INNER JOIN gradeinfo e ON c.gradeId=e.gradeId
		where a.examPaperId=#{examPaper.examPaperId}
    </select>

    <delete id="removeSubjectByExamPaperIdAndSubjectId" parameterType="int">
        DELETE FROM examsubjectmiddleinfo
		WHERE examPaperId=#{examPaperId} AND subjectId=#{subjectId}
    </delete>

    <insert id="addESMByOne" parameterType="int">
        INSERT INTO examsubjectmiddleinfo VALUES (NULL ,#{examPaperId},#{subjectId})
    </insert>

    <select id="checkSubject" resultType="int">
        select count(*) from examsubjectmiddleinfo where examPaperId=#{examPaperId} AND subjectId=#{subjectId}
    </select>

</mapper>